<section>
 <h2>List of Posts</h2>
  <button type="button" class="btn btn-info mt-3 mb-5">
    <%= link_to "Create A Post", new_post_path(current_user.id) , class: "new-post-link" %>
  </button>
  <%= render 'shared/user', user:@user %>
  <ul>
    <% @posts.each do |post|%>
      <li>
        <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
          <div class="post-cont">
            <%= render 'shared/post', {user: @user, post: post} %>
            <ul class="comments-cont">
              <% if post.comments_counter > 0%>
                <%post.five_recent_comments.each do |comment|%>
                <li>
                  <%= comment.author.name %> : <%= comment.text %>
                  <% if can? :destroy, comment  %> |  
                    <%= link_to "Delete",comment_path(comment.id), class:"btn btn-outline-danger my-3", "data-turbo-method": :delete %></span>
                  <% end %>
                </li>
                <%end%>
              <%else%>
                <li>No comment<li>
              <%end%>
            <ul>
          </div>
        </a>
        <% if can? :destroy, post  %> |  
          <%= link_to "Delete",post_path(post.id), class:"btn btn-outline-danger", "data-turbo-method": :delete %></span>
        <% end %>
      </li>
    <%end%>
  </ul>

  <div class="all-posts-btn">
    <a href="#"><button type="button">Pagination</button></a>
  </div>
</section>
